/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --main-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decor-accent-color: #353430;
  --text-accent-color: #353430;
  --accent-contrast-color: #353430;
  --color-shadow: #32312D66;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header__decor-span {
  display: none;
}