/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --text-color: #353430;
  --main-title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --text-accent-color: #353430;
  --accent-contrast-color: #353430;
  --color-shadow: #32312d66;
}

.theme-light .header__decor-span {
  display: none;
}
